<% if user_signed_in? %>
  <div class="row-fluid">
    <aside class="span3 sidebar">
	  <section>
        <%= render 'shared/user_info' %>
      </section>
 
    </aside>
	<!-- Right partition -->
	<section class="span9">
		<div id="item_container">
	  		<%= render 'shared/feed' %>
	</div>

	</section>
  </div> 
<% else %>
<div class="row-fluid landing-intro-box">
	<div class="span1 hidden-phone"></div>
  <aside class="span4">
  	<div class="well">
    	<h1>Welcome to PENNLIST</h1>
    	<p>
      	Buy & sell with confidence from the UPenn Community
    	</p>
    	<div class="facebook-like">
    		<div class="fb-like" data-href="http://www.pennlist.co" data-width="200" data-height="auto" data-colorscheme="dark" data-layout="standard" data-action="recommend" data-show-faces="true" data-send="false"></div>
    	</div>
	</div>
	<!-- Login Links -->
    <!-- <%= link_to image_tag("FaceBook_Button_20130504.jpg", alt: "Sign in with Facebook") , user_omniauth_authorize_path(:facebook) %>-->
  </aside>
  <div class="span5 offset1 landing-sign-up user-profile-form well">
  	<h2 class= "sign-up-title">Sign up now!</h2>
  	
  	<div class="user-profile-form-row sign-up-facebook row-fluid">
  		<div class="span12">
  			<a href="/"><img src="<%= image_path('facebook-button.png') %>"></a>&nbsp;&nbsp; or create an account
  		</div>
  		<div></div>
  	</div>
  	
  	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  		<%= devise_error_messages! %>
		<div class="row-fluid user-profile-form-row" id="row_fields">
			<div class="span6" id="left_box">
		    	<%= f.label :first_name %>
		    	<%= f.text_field :first_name %>
			</div>
			<div class="span6"  id="right_box">
		    	<%= f.label :last_name %>
		    	<%= f.text_field :last_name %>
			</div>
	   	</div>

		<div class="row-fluid user-profile-form-row">
			<div class="span8">
		    	<%= f.label :email, "UPenn Email Address" %>
		    	<%= f.email_field :email, :autofocus => true %>
	    	</div>
    	</div>

		<div class="row-fluid user-profile-form-row">
			<div class="span8">
		    	<%= f.label :password %>
		    	<%= f.password_field :password %>
			</div>
	    </div>

		<div class="row-fluid user-profile-form-row">
			<div class="span8">
		    	<%= f.label :password_confirmation, "Please confirm your password" %>
		    	<%= f.password_field :password_confirmation %>
		    </div>
	    </div>
	    
	    <div class="user-profile-form-row submit-button">
    		<%= f.submit "Create my account", class: "btn btn-default" %> 
    	</div>
    	
    	<div class="have-account">
    	<h3>Already have an account?</h3>
    	<div class="">
				<%= link_to "Sign in with PennList", signin_path, :class=> "btn btn-default" %>	
			<!-- Facebook authentication goes here -->
		</div>	
	</div>
</div>
		
	<% end %>
</div>
<% end %> 
