<p>Hello <%= @poster.first_name %></p>

<p><%= @messager.first_name %> sent you the following message:</p>

<p><%= @message %>

<p><a href="http://www.pennlist.co/advertisements/<%= @advertisement.id %>">Go to my advertisement</a></p>

<%if (@advertisement.email_count > 0)%>


<!--
<p><a href="http://www.pennlist.co/advertisements/<%= @advertisement.id %>">Sold your stuff? Click here to remove your listing!</a></p>
-->


<%= link_to "Sold your stuff? Click here to remove your listing!", advertisement_path(@advertisement, :destroy => true) , :method => :delete %>
<%end%>
