<p>Hello <%= @poster.first_name %></p>

<p><%= @messager.first_name %> sent you the following message:</p>

<p><%= @message %>

<p><a href="http://www.pennlist.co/advertisements/<%= @advertisement.id %>">Go to my advertisement</a></p>

<%if (@advertisement.email_count > 1)%>
<%= link_to "Remove", @advertisement, method: :destroy %>
<%end%>
