<p>Hello <%= @poster.first_name %></p>


<p><% if @joining_cab%><%= @messager.first_name %> has joined your cab! There are now <%=@cab_share.party_size %> in your cab.</p>


<p><% if !@joining_cab%><%= @messager.first_name %> has left your cab! There are now <%=@cab_share.party_size %> in your cab.</p>

<p>Just a reminder, your cab is leaving at <%= @cab_share.time%><% if (cab_share.address.chars.length >0 %> from <%= @cab_share.address%><% end %>!</p>


<p><a href="http://www.pennlist.co/cab_departures/<%= @cab_share.id %>">Go to my cab!</a></p>


