<div class='row-fluid feed-item-row' id="<%= feed_item.id %>">
	<div class="feed-item-picture span2">
		<% if feed_item.advertisement_images.empty? %>
			<%#= gravatar_for current_user, size: 100 
			%>
			<%= link_to "", feed_item, :class=>"default-image glyphicon glyphicon-shopping-cart" %>

		<% else %>	
			<%=render :partial => 'shared/feed_picture', locals: {:partial_advertisement_image => feed_item.advertisement_images.first, :partial_size => :thumb} %>
			
		<% end %>
	</div>
	<div class= "feed-item-content span10">
		
		<div class="feed-item-price pull-right label">
		<% if feed_item.price == -1 %>	
			N/A
		<% else %>	
			<span class="price-dollar-sign">$</span><%= feed_item.price %>
		<% end %>
		</div>
		
	    <h2 class="feed-item-title"><%= link_to feed_item.title, feed_item %></h2>
	    <div class="feed-field-item">
	      <% unless feed_item.tag_list.empty? %>
	   	  	<span class="categories-label">Categories:</span> <%= raw feed_item.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
	   	  <% end %>
	    </div>
	    <div class="feed-field-item feed-item-submitted">
	    	<%= time_ago_in_words(feed_item.updated_at) %> ago by <%= feed_item.user.first_name %>
	    </div>
	  	<div class="admin-links">
	  		<%= link_to "View / contact seller", feed_item, :class=> "btn btn-small" %>
	  	<% if current_user?(feed_item.user) %>
	  		<%= link_to 'Edit', edit_advertisement_path(feed_item.id), :class=>"btn btn-small btn-warning", title: "Edit this listing" %>&nbsp;
	    	<%= link_to "Remove", feed_item, method: :delete,
	                                    	data: { confirm: "Are you sure?" },
	                                     	title: "Remove this listing",
	                                     	:class => "btn btn-small btn-danger" %>
	  	<% end %>
	    </div>	  	


	</div>
</div>