<a href="<%= user_path(current_user) %>">
	<%= render :partial => 'shared/profile_picture',locals: {   :partial_user => current_user, :partial_size => :small} %>
</a>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <!-- will need to be polished -->	
  <%= link_to "Create new post", new_advertisement_path %>
  <br></br>
  <%= link_to "View my existing posts", "" %>
</span>
<span>
</span>