
  <h3>
    Cab Share
  </h3>
  <div class="content">
  <ul class="categories-list">
  	<%= link_to 'Find a cab', new_cab_departure_path%>
  	
  </ul>
  	<% current_user.cab_departures.each do |departure| %>
  	
  <ul class="categories-list">
  		<% if departure.cab_share.nil? %>
  			Departing @ <%= link_to departure.get_departure_datetime, departure %>
  		<% else %>
  			Departing @ <%= link_to departure.cab_share.get_departure_datetime, departure %>
  		<% end %>
  		</ul>
  	<% end %> 
  </ul>
  </div>
<h3>
  Categories
</h3>
<div class="content">
  <ul class="categories-list">
  	<% main_categories = ['All', 'Books', 'Clothes', 'Electronics', 'Events', 'Services', 'Sports', 'Venture gear'] %>
  	<% all_categories_lower = ['all', 'books', 'clothes', 'electronics', 'events', 'missed connections', 'services', 'sports', 'venture gear', 'wanted'] %>
  	<% main_categories.each do |i|%>
  	  <li class="category-line"><%= link_to i, tag_path(i) %></li>
  	<% end %>
  	<hr>
  	<% other_categories = ['Missed connections', 'Wanted'] %>
  	<% other_categories.each do |i|%>
  	  <li class="category-line"><%= link_to i, tag_path(i) %></li>
  	<% end %>
  	<hr>
	<% @tags.each do |tag| %>
	  <% unless tag.name.in?all_categories_lower %>
	  	<li class="category-line"><%= link_to tag, tag_path(tag.name) %></li>
	  <% end %>
	<% end %>
  </ul>
</div>