<% content_for(:head) do %>
    <%= javascript_include_tag "advertisements/index" %>
<% end %>

<% provide(:title, @advertisement.title) %> 

<div class="row-fluid">
	
	
	<aside class="span4 sidebar">
	
	<% if user_signed_in? %>
	<%= link_to "Back to listings", root_path, :id => '' %>
	
			<% if current_user?(@advertisement.user) %>
			<div class="admin-links"><br>
				<%= link_to 'Edit this listing', edit_advertisement_path, :class=>"btn btn-small btn-warning", title: "Edit this listing" %>&nbsp;
		    	<%= link_to "Remove", @advertisement, method: :delete,
		                                    	data: { confirm: "Are you sure?" },
		                                     	title: "Remove this listing",
		                                     	:class => "btn btn-small btn-danger" %>
		    </div>
			<% end %>

<h3>Share this listing</h3>

<div class="content">
	
		<p>
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
		<a class="addthis_button_facebook"></a>
		<a class="addthis_button_email"></a>
		<a class="addthis_button_compact"></a><a class="addthis addthis_bubble_style"></a>
		</div>
		<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4d93bd141f27ad04"></script>
		<!-- AddThis Button END -->
		<br></p>
</div>
	
		<h3>Listing by <%= @advertisement.user.first_name %></h2>
		
		<div class="content">
			<div class="submitted">
				<%= time_ago_in_words(@advertisement.updated_at) %> ago
			</div>
			
			<div class="comments">
			<!--<h4>Send an email to seller</h4>-->
			<%= form_for(@advertisement_comment) do |f| %>
			  <%= render 'shared/error_messages', object: f.object %>
			  <div class="field">
			  	<%= f.hidden_field :advertisement_id, :value => @advertisement.id %>
			    <%#= f.text_area :comment, placeholder: "Send this seller an email or leave a comment..." %>
			    <%= f.text_area :comment, placeholder: "Send this seller an email..." %>
			  </div>
			  <%= f.submit "Email seller", class: "btn btn-small", id:"private_button", disabled:true %>
			  <%#= f.submit "Public comment", class: "btn btn-small btn-primary", id:"public_button", disabled:true %>
			<% end %>
			
			<% if @current_comments.any? %>
				<%= render :partial => 'current_comment', collection: @current_comments %>
			<% end %>
		  	<%= will_paginate @current_comments %>
		  	</div>
		</div>
	<% else %>
		<h3>Contact seller</h3>
		<div class="content">
			<div>PennList is an exclusive market place for students, faculty and staff of the University of Pennsylvania. Buy and sell with confidence within the UPenn community!<br><br>
			You need to sign in to PennList in order to contact the seller<br><br></div>
			<p><a href="/" class="btn btn-default btn-large">Sign in</a></p>
		</div> 
	<% end %>
	</aside>
	
	<div class="advertisement-content span8">
		<h1 class="page-header ad-title"><%= @advertisement.title %> </h1>

		<div class="feed-item-price feed-item-price-full pull-right label">
		<% if @advertisement.price == -1 %>	
			N/A
		<% else %>	
			<span class="price-dollar-sign">$</span><%= @advertisement.price %>
		<% end %>	
		</div>

	    <div class="feed-field-item">
	      <% unless @advertisement.tag_list.empty? %>
	   	  	<span class="categories-label">Categories:</span> <%= raw @advertisement.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
	   	  <% end %>
	    </div>

		<div class="feed-field-item">
  			<%= raw @advertisement.content %>
		</div>
		
		<% if @advertisement_images.any? %>
			<% provide(:ogimage, @advertisement_images.first.image.url(:thumb)) %>
			<%= render :partial => 'advertisement_image', collection: @advertisement_images %>
		<% end %>
		
	</div>
	
</div>

<script>
	$('#advertisement_comment_comment').click(function(){
	    $('#private_button').removeAttr("disabled");
	    $('#public_button').removeAttr("disabled");
	});
	
	// $(document).ready(function() { 
	//     $('#new_advertisement_comment').ajaxForm( { beforeSubmit: validate } ); 
	// });
	
	function validate(formData, jqForm, options) { 
    // formData is an array of objects representing the name and value of each field 
    // that will be sent to the server;  it takes the following form: 
    // 
    // [ 
    //     { name:  username, value: valueOfUsernameInput }, 
    //     { name:  password, value: valueOfPasswordInput } 
    // ] 
    // 
    // To validate, we can examine the contents of this array to see if the 
    // username and password fields have values.  If either value evaluates 
    // to false then we return false from this method. 
 
	    for (var i=0; i < formData.length; i++) { 
	        if (!formData[i].value) { 
	            alert('Please enter comment'); 
	            return false; 
	        } 
	    } 
	    alert('Comment entered'); 
	}
</script>