<% content_for(:head) do %>
    <%= javascript_include_tag "advertisements/index" %>
<% end %>

<% provide(:title, "Create new post") %> 
<div class="span12" id="ad_title">
<h1><%= @advertisement.title %> </h1>
</div>
<h2 id='ad_by'>by <%= @advertisement.user.first_name %></h2>

<!--Aside partition-->
<section>
<aside class="span4">
	
	<%= link_to "Back to listings", root_path, :id => '' %>
	<br>
	<% if current_user?(@advertisement.user) %>
		<%= link_to 'Edit this advertisement', edit_advertisement_path%>
		<br>
	<% end %>
	
	<div>
	<h4>Write an email/comment</h4>
	<%= form_for(@advertisement_comment) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	  <div class="field">
	  	<%= f.hidden_field :advertisement_id, :value => @advertisement.id %>
	    <%= f.text_area :comment, placeholder: "Send this seller an email or leave a comment..." %>
	  </div>
	  <%= f.submit "Email poster", class: "btn btn-medium", id:"private_button", disabled:true %>
	  <%= f.submit "Public comment", class: "btn btn-medium btn-primary", id:"public_button", disabled:true %>
	<% end %>
	
	<% if @current_comments.any? %>
		<%= render :partial => 'current_comment', collection: @current_comments %>
	<% end %>
  	<%= will_paginate @current_comments %>
  	</div>
</aside>

<!--Main partition-->
<section>
<div class="span7 hero-unit ad_show">
	
	<div class="span6 left">	
	<h4>Description</h4>
  	<%= raw @advertisement.content %>
	<h4>Images</h4>
	</div>
	<div class="span1 right">
	<h4>Price</h4>
	<% if @advertisement.price == -1%>
		N/A
	<% else %>
  		<%= raw @advertisement.price %>
  	<% end %>
	</div>

	<% if @advertisement_images.any? %>
		<%= render :partial => 'advertisement_image', collection: @advertisement_images %>
	<% end %>
</div>
</section>
</section>
 
<script>
	$('#advertisement_comment_comment').click(function(){
	    $('#private_button').removeAttr("disabled");
	    $('#public_button').removeAttr("disabled");
	});
	
	//$(document).ready(function() { 
	//    $('#new_advertisement_comment').ajaxForm( { beforeSubmit: validate } ); 
	//});
	
	function validate(formData, jqForm, options) { 
    // formData is an array of objects representing the name and value of each field 
    // that will be sent to the server;  it takes the following form: 
    // 
    // [ 
    //     { name:  username, value: valueOfUsernameInput }, 
    //     { name:  password, value: valueOfPasswordInput } 
    // ] 
    // 
    // To validate, we can examine the contents of this array to see if the 
    // username and password fields have values.  If either value evaluates 
    // to false then we return false from this method. 
 
	    for (var i=0; i < formData.length; i++) { 
	        if (!formData[i].value) { 
	            alert('Please enter comment'); 
	            return false; 
	        } 
	    } 
	    alert('Comment entered'); 
	}
</script>