<% content_for(:head) do %>
    <%= javascript_include_tag "advertisements/index" %>
<% end %>

<% provide(:title, "Create new post") %> 
<div class="span12" id="ad_title">
<h1><%= @advertisement.title %> </h1>
</div>
<h2 id='ad_by'>by <%= @advertisement.user.first_name %></h2>

<!--Aside partition-->
<section>
<aside class="span4">
	
	<%= link_to "Back to listings", root_path, :id => '' %>
	
	<br>
	<div>
	<h4>Write a comment</h4>
	<%= form_for(@advertisement_comment) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	  <div class="field">
	  	<%= f.hidden_field :advertisement_id, :value => @advertisement.id %>
	    <%= f.text_area :comment, placeholder: "Leave this seller a comment..." %>
	  </div>
	  <%= f.submit "Email poster", class: "btn btn-medium", id:"private_button" %>
	  <%= f.submit "Public comment", class: "btn btn-medium btn-primary", id:"public_button" %>
	<% end %>
	
	<% if @current_comments.any? %>
		<%= render :partial => 'current_comment', collection: @current_comments %>
	<% end %>
  	<%= will_paginate @current_comments %>
  	</div>
</aside>

<!--Main partition-->
<section>
<div class="span7 hero-unit ad_show">
	
	<div class="span6 left">	
	<h4>Description</h4>
  	<%= raw @advertisement.content %>
	<h4>Images</h4>
	</div>
	<div class="span1 right">
	<h4>Price</h4>
	<% if @advertisement.price == -1%>
		N/A
	<% else %>
  		<%= raw @advertisement.price %>
  	<% end %>
	</div>

	<% if @advertisement_images.any? %>
		<%= render :partial => 'advertisement_image', collection: @advertisement_images %>
	<% end %>
</div>
</section>
</section>
 