
<h1 class="page-header">Relevant Departures</h1>
<div class="row-fluid">
<aside class="span3 sidebar">
	<% if !@cab_departure.cab_share.nil? %>
		<h2>Current Cab Share</h2>
		<strong>Participents</strong>
			<% @cab_departure.cab_share.cab_departures.each do |participant| %>
				<p><%= participant.user.name %></p>
			<% end %>
		<%= link_to 'Leave', cab_departure_leave_path(@cab_departure.id, :cab => @cab_departure.cab_share.id), :class=>"btn btn-small btn-warning", title: "Leave this cab" %>	
	<% end %>
	
	<h2>My cab details:</h2>
	<p>
	  <strong>Leaving from</strong>
	  	<!-- <%= @cab_departure.address %><br> -->
		<%= image_tag "http://maps.google.com/maps/api/staticmap?size=350x300&sensor=false&zoom=16&markers=#{@cab_departure.latitude}%2C#{@cab_departure.longitude}" %>
	</p>
	<p>
	  <strong>Willing to walk:</strong>
	  <%= (@cab_departure.location_buffer*8).round(0) %> block<% if @cab_departure.location_buffer*8 > 1 %>s<% end %>
	</p>
	
	<p>
	  <strong>Time:</strong>
	  <%= @cab_departure.get_departure_datetime %>
	</p>
	
	<p>
	   <strong>Able to leave </strong>
	  <%= @cab_departure.party_size %> minutes early 
	</p>
	
	<%= link_to 'Edit', edit_cab_departure_path(@cab_departure) %> 
</aside>
<section class="span9 cab-content">
	<h2>Folks leaving around your time</h2>
	<!-- To be replaced with something better looking than a table -->
	<table class="table-striped">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <!-- <th>Willing to walk</th> -->
	      <th>Time</th>
	      <!-- <th>Leave early</th> -->
	      <th>Distance</th>
	      <th>Cab size</th>
	      <th></th>
	      <th></th>
	    </tr>
	  </thead>
	
	  <tbody>
	  	<% @cab_shares.each do |cab_share| %>
	      <tr>
	        <td><%= cab_share.cab_departures.first.user.first_name %></td>
		        <!-- <td></td> -->
	        <td><%= cab_share.get_departure_datetime %></td>
	        <td><%= cab_share.distance.round(2) %> miles</td>
	        <td><%= cab_share.party_size %></td>
	        <td><%= link_to 'Join', cab_departure_join_path(@cab_departure.id, :joinee => cab_share.id, :type => 'existing_share'), :class=>"btn btn-small btn-warning", title: "Join" %></td>
	      </tr>
	    <% end %>

	    <% @cab_departures.each do |cab_departure| %>
	      <tr>
	        <td><%= cab_departure.user.first_name %></td>
	        <!-- <td><%= (cab_departure.location_buffer*8).round(0) %> block<% if cab_departure.location_buffer*8 > 1 %>s<% end %></td> -->
	        <td><%= cab_departure.get_departure_datetime %></td>
	        <!-- <td><% if cab_departure.time_buffer>0 %>-<%= cab_departure.time_buffer.round(0) %> min<% else %>-<% end %></td> -->
	        <td><%= cab_departure.distance.round(2) %> miles </td>
	        <td><%= cab_departure.party_size %> </td>
	        
	        <!--<td><%= link_to 'Show', cab_departure, :class=>"btn btn-small btn-warning" %></td>-->
	        <td><%= link_to 'Join', cab_departure_join_path(@cab_departure.id, :joinee => cab_departure.id, :type => 'new_share'), :class=>"btn btn-small btn-warning", title: "Join" %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	
</section>
</div>
