
<h1 class="page-header">Relevant Departures</h1>
<div class="row-fluid">
<aside class="span3 sidebar">
	<h2> Your Location</h2>
	<p id="notice"><%= notice %></p>
	<p>
	  <strong>Address:</strong>
	  	<!-- <%= @cab_departure.address %><br> -->
		<%= image_tag "http://maps.google.com/maps/api/staticmap?size=350x300&sensor=false&zoom=16&markers=#{@cab_departure.latitude}%2C#{@cab_departure.longitude}" %>
	</p>
	<p>
	  <strong>Location buffer:</strong>
	  <%= @cab_departure.location_buffer %> miles
	</p>
	
	<p>
	  <strong>Time:</strong>
	  <%= @cab_departure.get_departure_datetime %>
	</p>
	
	<p>
	  <strong>Time buffer:</strong>
	  <%= @cab_departure.time_buffer %> minutes
	</p>
	
	<%= link_to 'Edit', edit_cab_departure_path(@cab_departure) %> 
</aside>
<section class="span9">
	<h2>Others departing in your area and time frame</h2>
	<!-- To be replaced with something better looking than a table -->
	<table>
	  <thead>
	    <tr>
	      <th>First Name</th>
	      <th>Location buffer</th>
	      <th>Time</th>
	      <th>Time buffer</th>
	      <th>Distance</th>
	      <th></th>
	      <th></th>
	      <th></th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @cab_departures.each do |cab_departure| %>
	      <tr>
	        <td><%= cab_departure.user.first_name %></td>
	        <td><%= cab_departure.location_buffer %></td>
	        <td><%= cab_departure.time %></td>
	        <td><%= cab_departure.get_departure_datetime %></td>
	        <td><%= cab_departure.distance.round(2) %> miles </td>
	        <td><%= link_to 'Show', cab_departure, :class=>"btn btn-small btn-warning" %></td>
	        <td><%= link_to 'Join', cab_departure_join_path(@cab_departure.id, :joinee => cab_departure.id), :class=>"btn btn-small btn-warning", title: "Join this cab" %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	
</section>
</div>
