<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta property="og:title" content="PennList"/>
	<meta property="og:description" content="Buy & sell with confidence from the UPenn Community! Textbooks, calculators, bikes, furniture and more."/>
    <meta property="og:url" content="http://www.pennList.co"/>
   	<% if content_for?(:ogimage) %>
    	<!--<meta property="og:image" content="http://www.pennlist.co<%= image_path(yield(:ogimage)) %>">-->
    <% else %>
  	<meta property="og:image" content="http://www.pennlist.co<%= image_path('pennlist_fb_logo.png') %>">
    <% end %>

    <META NAME="KEYWORDS" CONTENT="PennList, UPenn, Penn">
	<META NAME="DESCRIPTION" CONTENT="Buy & sell with confidence from the UPenn Community! Textbooks, calculators, bikes, furniture and more.">
	<META HTTP-EQUIV="CONTENT-LANGUAGE" CONTENT="EN">
	<META NAME="revisit-after" CONTENT="14 days">
	<META NAME="robots" CONTENT="all">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="icon" type="image/x-icon" href=<%= image_path('favicon.ico') %> />
		
	<!-- Buy & sell with confidence from the UPenn Community -->
   	<%= stylesheet_link_tag    "application", media: "all"  %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <%= render 'layouts/shim' %>
    <%= yield(:head) %>    
  </head>
  <% unless current_user.nil? %>
	  <% unless %w(johnli@wharton.upenn.edu zhoujeff@wharton.upenn.edu ibe@wharton.upenn.edu).include?current_user.email  %>
	  <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-11189838-7', 'pennlist.co');
		  ga('send', 'pageview');
	  </script>
	  <% end %>
  <% end %>
  <% if current_page?(root_url) %>
  	<% if user_signed_in? %>
  		<body class="main_body">
  	<% else %>
  		<body class="main_body landing-page">
  	<% end %>
  <% else %>
  	<body>
  <% end %> 
  	
    <%= render 'layouts/header' %>
    <div class="container" id="main-container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <div class = "container">
      <%= debug(params) if Rails.env.development? %>
  	</div>

  	
 <!-- facebook SDK -->
<!--
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=382223585241501";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
-->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=382223585241501";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>