<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta property="og:title" content="PennList"/>
	<meta property="og:description" content="Buy & sell with confidence from the UPenn Community"/>
    <meta property="og:url" content="http://www.pennList.co"/>
    <meta property="og:image" content="http://www.pennlist.co<%= image_path('pennlist_fb_logo.png') %>">
    <META NAME="KEYWORDS" CONTENT="PennList, UPenn, Penn">
	<META NAME="DESCRIPTION" CONTENT="Buy & sell with confidence from the UPenn Community! Textbooks, calculators, bikes, furniture and more.">
	<META HTTP-EQUIV="CONTENT-LANGUAGE" CONTENT="EN">
	<META NAME="revisit-after" CONTENT="14 days">
	<META NAME="robots" CONTENT="all">
		
	<!-- Buy & sell with confidence from the UPenn Community -->
   	<%= stylesheet_link_tag    "application", media: "all"  %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <%= render 'layouts/shim' %>
    <%= yield(:head) %>    
  </head>
  <% if current_page?(root_url) %>
  	<body class='main_body'>
  <% else %>
  	<body>
  <% end %> 
  	
    <%= render 'layouts/header' %>
    <div class="container" id="main-container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <div class = "container">
      <%= debug(params) if Rails.env.development? %>
  	</div>
  </body>
</html>
<script type="text/javascript">
	$('.datepicker').datepicker({
	startDate: '+1d'
	});
	$('.timepicker').timepicker();
</script> 